//Content Wrapper Styling
$contentHeight: auto !default;
$contentMargin : 0 !default;
$contentPadding : 0 !default;
$contentBackground: $white !default;
$contentInnerHeight: auto !default;
$contentInnerMargin :  0 auto !default;
$contentInnerPadding : 0 !default;
$contentInnerBackground: $white !default;

//Note: Applies copy variables from copy.scss

.l-content{
   @include background($contentBackground);
   min-height:$contentHeight;
   margin:$contentMargin;
   padding:$contentPadding;
   color:$content-copy-color;
   @include clearfix;
  .inner{
      @include background($contentInnerBackground);
      min-height:$contentInnerHeight;
      margin:$contentInnerMargin;
      padding:$contentInnerPadding;
      @include clearfix;
      .inner{
        //Reset inner so that inners below this get a clean slate
        margin:0;
         
        @include reset-container-spacing;
        background:none;}
   }
 }
