//Set variables for the footer wrapper
//Note that this is NOT the footer region and may wrap multiple regions
$footerHeight : 100px !default;
$footerMargin : 0 !default;
$footerPadding: 0 !default;
$footerBackground : $footer-color !default;
$footerInnerHeight : 100px !default;
$footerInnerMargin : 0 auto !default;
$footerInnerPadding: 15px 0 15px 0 !default;
$footerInnerBackground : none !default;

//Set default block behavior within this region
$footerBlockMargin: 0 $horz-spacing-unit 0 0;
$footerBlockPadding: 0;
$footerBlockBorder: none;
$footerBlockFloat: right;
$footerBlockBackground: none;

.l-footer{
   @include background($footerBackground);
   min-height:$footerHeight;
   margin:$footerMargin;
   padding:$footerPadding;
   width:100%;
   @include clearfix;
  .inner{
      @include background($footerInnerBackground);
      min-height:$footerInnerHeight;
      margin:$footerInnerMargin;
      padding:$footerInnerPadding;
      max-width:$container-width;
      @include clearfix;
      .inner{
          //Resetting inner so that it doesn't inheiret from the main wrapper
          margin:0;
           
          @include reset-container-spacing;
          background:none;
        }
   }
  .l-region{
        //Set default region behavior to reset/collapse
        float:left;
         
        @include reset-container-spacing;
        background:none;
        .block{
          //Set default block behavoir within footer regions (again collapsing)
          float:$footerBlockFloat;
          margin:$footerBlockMargin;
          padding:$footerBlockPadding;
          border:$footerBlockBorder;
          @include background($footerBlockBackground);
        }
   }
 }
