//Set variables for the header wrapper
//Note that this is NOT the footer region and may wrap multiple regions
$headerHeight : 100px !default;
$headerMargin : 0 !default;
$headerPadding: 0 !default;
$headerBackground : $header-color !default;
$headerInnerHeight : 100px !default;
$headerInnerMargin : 0 auto !default;
$headerInnerPadding: 15px 0 15px 0 !default;
$headerInnerBackground : none !default;

//Set default block behavior within this region
$headerBlockMargin: 0 $horz-spacing-unit 0 0;
$headerBlockPadding: 0;
$headerBlockBorder: none;
$headerBlockFloat: right;
$headerBlockBackground: none;

.l-header{
   @include background($headerBackground);
   min-height:$headerHeight;
   margin:$headerMargin;
   padding:$headerPadding;
   width:100%;
   @include clearfix;
  .inner{
      @include background($headerInnerBackground);
      min-height:$headerInnerHeight;
      margin:$headerInnerMargin;
      padding:$headerInnerPadding;
      max-width:$container-width;
      @include clearfix;
      .inner{
          //Resetting inner so that it doesn't inheiret from the main wrapper
          margin:0;
           
          @include reset-container-spacing;
          background:none;
        }
   }
  .l-region{
        //Set default region behavior to reset/collapse
         
        @include reset-container-spacing;
        background:none;
        .block{
          //Set default block behavoir within footer regions (again collapsing)
          float:$headerBlockFloat;
          margin:$headerBlockMargin;
          padding:$headerBlockPadding;
          border:$headerBlockBorder;
          @include background($headerBlockBackground);
        }

   }
   .l-branding{
          //Override defaults for branding region only
          float:left;
          width:auto;
          margin-left: $gutter-width;
   }
 }
