 $bannerRegionHeight: 300px;
 $bannerRegionMargin: 0;
 $bannerRegionPadding: 0;
 $bannerRegionBackground: $regionBackground;
 $bannerRegionInnerBackground:$regionInnerBackground;

 .l-region--banner{
   margin:$bannerRegionMargin;
   padding: $bannerRegionPadding;
   height: $bannerRegionHeight;
   @include background($bannerRegionBackground);
   .inner{
     @include background($bannerRegionInnerBackground);
   }
}
