//Note: Most footer styling is controlled at the footer wrapper level and this should rarely need to be altered from default

$footerRegionHeight: auto;
$footerRegionMargin: $regionMargin;
$footerRegionPadding: $regionPadding;
$footerRegionBackground: $regionBackground;
$footerRegionInnerBackground:$regionInnerBackground;

.l-region--footer{
  margin:$footerRegionMargin;
  padding: $footerRegionPadding;
  height: $footerRegionHeight;
  @include background($footerRegionBackground);
    .inner{
      @include background($footerRegionInnerBackground);
    }
}
