$navigationRegionHeight: auto;
$navigationRegionMargin: $regionMargin;
$navigationRegionPadding: $regionPadding;
$navigationRegionBackground: $regionBackground;
$navigationRegionInnerBackground:$regionInnerBackground;

.l-region--navigation{
  margin:$navigationRegionMargin;
  padding: $navigationRegionPadding;
  height: $navigationRegionHeight;
  @include background($navigationRegionBackground);
    .inner{
      @include background($navigationRegionInnerBackground);
    }
}
