


$search-result-title-color: $copy-color;
$search-result-title-hover-color: $hover-color;
$search-result-font-size:18px;
$search-result-font-weight: bold;

.page-search{
    #edit-submit{
        border-radius:0;
        margin-left:-10px;
        float:none;
    }

    .search-advanced.collapsible, .search-result__info{
        display:none;
    }


    .search-result{
        border-bottom: $default-border;

        h3 a{
            color: $search-result-title-color;
            font-size: $search-result-font-size;
            font-weight: $search-result-font-weight;
            &:hover{
                color: $search-result-title-hover-color;
            }
        }
        .search-result__snippet{
            margin-bottom:20px;
        }
    }

    
}