/** ################# Geshi Code Filter CSS ####################### */
/**
 * The main purpose for the Geshi Filter styles are for my personal use, and use in the demo version
 * of the Omega theme to style up code snippets a bit more pretty.
 */
 
.block-omega-tools .content {
	font-size: 9px;
	margin: 0;
  padding: 10px;
  color: #CCC;
  line-height: 1.2em;
  border: 1px dashed #EEE;
  background: #FFF;
}
.block-omega-tools:hover .content,
.container-12:hover .block-omega-tools .content,
.container-16:hover .block-omega-tools .content,
.container-24:hover .block-omega-tools .content,
.container-32:hover .block-omega-tools .content {
  color: #000;
  border: 1px dashed #CCC;
  background: #EEE;
}
.block-omega-tools h2 {
  color: #CCC;
}
.block-omega-tools:hover h2,
.container-12:hover .block-omega-tools h2,
.container-16:hover .block-omega-tools h2,
.container-24:hover .block-omega-tools h2,
.container-32:hover .block-omega-tools h2 {
  color: #000;
}
.block-omega-tools code {
  margin: 0;  
}
.block-omega-tools p {
  margin: 0;
}