// Color variables

//Some grayscales that are used throughout (may be altered but should never be removed)
$white : #ffffff;
$lightGray : #ededed;
$light-gray: #ededed;
$middleGray : #CCCCCC;
$darkMiddleGray: #999999;
$darkGray : #333333;
$gray-dark: #333333;
$black : #000000;

//Name some hex values specific to the site
$idiDarkBlue: #1a3d73;
$idiBlue: #25bdf0;
$idiGreen: #bbd530;
$idiOrange: #fcc317;
$idiPink: #ec1e54;

$copy-color: $middleGray;
$header-color: $middleGray;
$footer-color: $middleGray;
$body-color: $light-gray;
$hover-color: $idiOrange;
$input-color: $light-gray;

//Set some defaults (may be changed but should not be removed)
$primary : $idiBlue; //Sites primary color
$secondary : $idiDarkBlue; //Sites secondary color
$accent : $idiPink; //An accent color
$additionalAccent : $idiGreen; //A second accent color
$additionalAccentTwo : $idiOrange; //A third accent color
//Text default colors
$lightText: $middleGray; //For text on a dark BG
$darkText : $darkGray; //For text on light BG

$link-color-default: $idiDarkBlue;
$link-hover-default: $idiOrange