//MAIN Menu wrapping dimension settings
$mainMenuHeight: 30px;
$mainMenuMargin : 0;
$mainMenuPadding: $menuBlockPadding;
$mainMenuBackground: $primary;

//Drop down dimensions
$dropDownWidth: 200px;
$dropDownWidthLvlTwo: $dropDownWidth;
$dropDownWidthLvlThree: $dropDownWidthLvlTwo;

//Style 1st level (sets defaults for others)
$mainMenuItemBackground: $mainMenuBackground;
$mainMenuItemHoverBackground : $idiGreen;
$mainMenuItemActiveBackground : $mainMenuItemHoverBackground;
$mainMenuItemColor :$white;
$mainMenuItemHoverColor : $white;
$mainMenuItemActiveColor : $mainMenuItemHoverColor;
$mainMenuItemBorder: 1px solid #FFF;
$mainMenuItemPadding: 0 15px;
$mainMenuItemFont: normal #{em(16)}/#{$mainMenuHeight} $master-font;

//Style 2nd level (inheirets from 1st)
$mainMenuLvlTwoItemBackground : $mainMenuItemBackground;
$mainMenuLvlTwoItemHoverBackground : $mainMenuItemHoverBackground;
$mainMenuLvlTwoItemActiveBackground : $mainMenuItemActiveBackground;
$mainMenuLvlTwoItemColor : $mainMenuItemColor;
$mainMenuLvlTwoItemHoverColor : $mainMenuItemHoverColor;
$mainMenuLvlTwoItemActiveColor : $mainMenuItemActiveColor;
$mainMenuLvlTwoItemBorder : $mainMenuItemBorder;
$mainMenuLvlTwoItemPadding : $mainMenuItemPadding;
$mainMenuLvlTwoItemFont : $mainMenuItemFont;
$mainMenuLvlTwoItemHeight : 26px;

//Style 3nd level (inheirets from 2nd)
$mainMenuLvlThreeItemBackground : $mainMenuLvlTwoItemBackground;
$mainMenuLvlThreeItemHoverBackground : $mainMenuLvlTwoItemHoverBackground;
$mainMenuLvlThreeItemActiveBackground : $mainMenuLvlTwoItemActiveBackground;
$mainMenuLvlThreeItemColor : $mainMenuLvlTwoItemColor;
$mainMenuLvlThreeItemHoverColor : $mainMenuLvlTwoItemHoverColor;
$mainMenuLvlThreeItemActiveColor : $mainMenuLvlTwoItemActiveColor;
$mainMenuLvlThreeItemBorder : $mainMenuLvlTwoItemBorder;
$mainMenuLvlThreeItemPadding : $mainMenuLvlTwoItemPadding;
$mainMenuLvlThreeItemFont : $mainMenuLvlTwoItemFont;
$mainMenuLvlThreeItemHeight : $mainMenuLvlTwoItemHeight;

//RESPONSIVENESS

//Mobile menu activator (burger) settings
$menuBurgerWidth : 36px;
$menuBurgerHeight : 31px;
$menuBurgerBackground: url('../images/ico_burger.png') center center no-repeat;
$menuBurgerHoverBackground: $menuBurgerBackground;
$menuBurgerActiveBackground: $menuBurgerBackground;

//Sidr Responsive Container Settings
$sidrBackground: #333;
$sidrColor: #FFF;
$sidrWidth: 260px;
$sidrFont: normal em(16) $master-font;

//Toggler sytles if present
$respNavToggleBackground: url('../images/bg_resp-nav-down-w.png') 10px center no-repeat #000;
$respNavToggleHoverBackground: $respNavToggleBackground;
$respNavToggleActiveBackground: $respNavToggleHoverBackground;
$respNavToggleWidth: 20px;
$respNavToggleTop: 0;
$respNavToggleRight: 10px;

//Sidr responsive overrides (sidr vertical) style first level (sets defaults for others)
$respNavItemHeight: 16px;
$respNavItemPadding: 6px 10px;
$respNavBackgound: #CCC;
$respNavHoverBackground: #333;
$respNavActiveBackground: #000;
$respNavColor: #333;
$respNavHoverColor: #CCC;
$respNavActiveColor: #999;
$respNavBorder:1px solid $black;
$respNavFont: normal #{em(16)}/#{$respNavItemHeight} $master-font;

//Style Sidr 2nd level (inheirets from 1st)
$respNavLvlTwoItemHeight: $respNavItemHeight;
$respNavLvlTwoItemPadding: 2px 10px 2px 25px;
$respNavLvlTwoBackgound: $respNavBackgound;
$respNavLvlTwoHoverBackground: $respNavHoverBackground;
$respNavLvlTwoActiveBackground: $respNavActiveBackground;
$respNavLvlTwoColor: $respNavColor;
$respNavLvlTwoHoverColor: $respNavHoverColor;
$respNavLvlTwoActiveColor: $respNavActiveColor;
$respNavLvlTwoFont: $respNavFont;
$respNavLvlTwoBorder:$respNavBorder;

//Style Sidr 3rd level (inheirets from 2nd)
$respNavLvlThreeItemHeight: $respNavLvlTwoItemHeight;
$respNavLvlThreeItemPadding: 2px 10px 2px 35px;
$respNavLvlThreeBackgound: $respNavLvlTwoBackgound;
$respNavLvlThreeHoverBackground: $respNavLvlTwoHoverBackground;
$respNavLvlThreeActiveBackground: $respNavLvlTwoActiveBackground;
$respNavLvlThreeColor: $respNavLvlTwoColor;
$respNavLvlThreeHoverColor: $respNavLvlTwoHoverColor;
$respNavLvlThreeActiveColor: $respNavLvlTwoActiveColor;
$respNavLvlThreeFont: $respNavLvlTwoFont;
$respNavLvlThreeBorder: $respNavLvlTwoBorder;


//MAIN NAV Core menu code is FRAGILE, alter with caution!
//90% of styling can be accomplished above this line

//Menu Blocks styles
#block-system-main-menu{
  min-height: $mainMenuHeight;
  margin: $mainMenuMargin;
  padding: $mainMenuPadding;
  background: $mainMenuBackground;
}

.block--system-main-menu{
  @extend .horizontal-block; //Extends for layout
  display:none;
  //@include clearfix;
  //overflow:visible; //Clearfix ads overflow hidden and we can't have that
  height:$mainMenuHeight;
  //FIRST LEVEL
  ul{
    li{
      a{
        height:$mainMenuHeight;
        font:$mainMenuItemFont;
        color: $mainMenuItemColor;
        background:$mainMenuItemBackground;
        padding:$mainMenuItemPadding;
        border-right: $mainMenuItemBorder;
        z-index:0;
        &:hover{
          color: $mainMenuItemHoverColor;
          background:$mainMenuItemHoverBackground;
        }
        &.active{
          background-color:$mainMenuItemActiveBackground;
          color: $mainMenuItemActiveColor
        }
      }
    }
  }
  //SECOND LEVEL
  ul li ul{
    top:$mainMenuHeight;
    left:0;
    width: $dropDownWidth;
    overflow:visible!important; //jQuery is adding overflow hidden and we can't have that.  We will add it to the A instead
    li{
      a{
        height:$mainMenuLvlTwoItemHeight;
        font:$mainMenuLvlTwoItemFont;
        color: $mainMenuLvlTwoItemColor;
        background:$mainMenuLvlTwoItemBackground;
        padding:$mainMenuLvlTwoItemPadding;
        border-bottom:$mainMenuLvlTwoItemBorder;
        overflow:hidden; //moving jQuery overflow
        width:100%;//and forcing width
        &:hover{
          color:$mainMenuLvlTwoItemHoverColor;
          background:$mainMenuLvlTwoItemHoverBackground;
        }


        &.active{
           background-color:$mainMenuLvlTwoItemActiveBackground;
           color:$mainMenuLvlTwoItemActiveColor;
        }
      }
      &.first{
          a{
          }
      }
      &.last{
          a{
          }
      }
    }
  }
   //THIRD LEVEL
  ul li ul li ul{
    left:$dropDownWidthLvlThree;
    width: $dropDownWidthLvlThree;
    li{
      a{
        height:$mainMenuLvlThreeItemHeight;
        font:$mainMenuLvlThreeItemFont;
        color: $mainMenuLvlThreeItemColor;
        background:$mainMenuLvlThreeItemBackground;
        padding:$mainMenuLvlThreeItemPadding;
        border-bottom:$mainMenuLvlThreeItemBorder;
        &:hover{
          color:$mainMenuLvlThreeItemHoverColor;
          background:$mainMenuLvlThreeItemHoverBackground;
        }
        &.active{
            background-color:$mainMenuLvlThreeItemActiveBackground;
            color:$mainMenuLvlThreeItemActiveColor;
        }
      }
      &.first{
          a{
          }
      }
      &.last{
          a{
          }
      }
    }
  }
}
//Burger styling
#main-menu-burger{
    @include reset-container-spacing;
    width:$menuBurgerWidth;
    height:$menuBurgerHeight;
    display:block;
    float:left;
    @include background($menuBurgerBackground);
    line-height:31px;
    text-indent:100%;
    overflow:hidden;
    &:hover{

    }
    &.active{

    }
}

@include breakpoint($tab){
  .main-nav{
     display:block;
  }
  #main-menu-burger{
     display:none;
  }
}
//MOBILE SIDR NAV
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: $sidrWidth;
  overflow-x: none;
  overflow-y: auto;
  font-family: $sidrFont;
  background: $sidrBackground;
  color: $sidrColor;
  //box-shadow: inset 0 0 5px 5px #222;
  .sidr-inner {
    padding: 0 0 15px;
   }
}

#resp-nav{
  @extend .vertical-block; //Extend for basic layout
  display:none;
  ul{
    li{
        min-height: $respNavItemHeight;
        font: $respNavFont;
        @include background($respNavBackgound);
        a, span{
           padding: $respNavItemPadding;
           color: $respNavColor;
           border-bottom:$respNavBorder;
        }
        &:hover{
          color: $respNavHoverColor;
          @include background($respNavHoverBackground);
          a, span{
            color: $respNavHoverColor;
          }
        }

        &.first{
          border-top:$respNavBorder; //overriding ancestor
        }
        &.last{
          border-bottom:$respNavBorder; //overriding ancestor
        }
        &.activated, &.activated:hover{
           color: $respNavActiveColor;
          @include background($respNavActiveBackground);
          a, span{
            color: $respNavActiveColor;
          }
        }

    }
  }

  //SECOND LEVEL
  ul li ul,
  ul li.activated ul,
  ul li:hover ul,
  ul li.activated:hover ul{
    display:none;
    li{
        min-height: $respNavLvlTwoItemHeight;
        font: $respNavLvlTwoFont;
        @include background($respNavLvlTwoBackgound);
         a, span{
           padding: $respNavLvlTwoItemPadding;
           border-bottom:$respNavLvlTwoBorder;
           color: $respNavLvlTwoColor;

        }
        &:hover{
          color: $respNavHoverColor;
          @include background($respNavLvlTwoHoverBackground);
          a, span{
            color: $respNavLvlTwoHoverColor;
          }
        }

        &.first{
            border-top:none; //returning to ancestor default for 2nd level
        }
        &.last{
            border-bottom:none; //returning to ancestor default for 2nd level
        }
        &.activated, &.activated:hover{
           color: $respNavLvlTwoActiveColor;
          @include background($respNavLvlTwoActiveBackground);
          a, span{
            color: $respNavLvlTwoActiveColor;
          }
        }
    }

    span.toggle{
      height:$respNavLvlTwoItemHeight;
      line-height:$respNavLvlTwoItemHeight;
    }

  }

  //THIRD LEVEL
    //Plain first level
    ul li ul li ul,
    ul li ul li:hover ul,
    ul li ul li.activated ul,
    ul li ul li.activated:hover ul,
    //Active first level
    ul li.activated ul li ul,
    ul li.activated ul li.activated ul,
    ul li.activated ul li:hover ul,
    ul li.activated ul li.activated:hover ul,
    //Hover first level
    ul li:hover ul li ul,
    ul li:hover ul li.activated ul,
    ul li:hover ul li:hover ul,
    ul li:hover ul li.activated:hover ul,
   //Active:hover first level
    ul li.activated:hover ul li ul,
    ul li.activated:hover ul li.activated ul,
    ul li.activated:hover ul li:hover ul,
    ul li.activated:hover ul li.activated:hover ul {
    display:none;
    top:0px; //return top to 0px as in ancestor
    li{
        min-height: $respNavLvlThreeItemHeight;
        font: $respNavLvlThreeFont;
        @include background($respNavLvlThreeBackgound);
         a, span{
           padding: $respNavLvlThreeItemPadding;
           border-bottom:$respNavLvlThreeBorder;
           color: $respNavLvlThreeColor;

        }
        &:hover{
          color: $respNavHoverColor;
          @include background($respNavLvlThreeHoverBackground);
          a, span{
            color: $respNavLvlThreeHoverColor;
          }
        }

        &.first{
        }
        &.last{
        }
        &.activated, &.activated:hover{
           color: $respNavLvlThreeActiveColor;
          @include background($respNavLvlThreeActiveBackground);
          a, span{
            color: $respNavLvlThreeActiveColor;
          }
        }
    }
  }


  span.toggle{
    @include reset-container-spacing;
    width:$respNavToggleWidth;
    box-shadow:none;
    height:$respNavItemHeight;
    line-height:$respNavItemHeight;
    position:absolute;
    top:$respNavToggleTop;
    right:$respNavToggleRight;
    display:inline-block;
    overflow:hidden;
    text-indent:100%;
    cursor:pointer;
    border:none!important;
    @include background($respNavToggleBackground);
    &:hover{
       @include background($respNavToggleHoverBackground);
    }
    &.active{
       @include background($respNavToggleActiveBackground);
    }
  }

}
