//Secondary Nav (traditional accordian sidebar nav)

//Block styles
$secondaryMenuHeight: 0;
$secondaryMenuMargin : $menuBlockMargin;
$secondaryMenuPadding: $menuBlockPadding;
$secondaryMenuBackground: none;

//Menu styles
$secondaryNavItemHeight: 16px;
$secondaryNavItemPadding: 6px 10px;
$secondaryNavBackgound: #CCC;
$secondaryNavHoverBackground: #333;
$secondaryNavActiveBackground: #000;
$secondaryNavColor: #333;
$secondaryNavHoverColor: #CCC;
$secondaryNavActiveColor: #999;
$secondaryNavBorder:1px solid $black;
$secondaryNavFont: normal #{em(14)}/#{$secondaryNavItemHeight} $master-font;


$secondaryNavLvlTwoItemHeight: $secondaryNavItemHeight;
$secondaryNavLvlTwoItemPadding: 2px 10px 2px 25px;
$secondaryNavLvlTwoBackgound: $secondaryNavBackgound;
$secondaryNavLvlTwoHoverBackground: $secondaryNavHoverBackground;
$secondaryNavLvlTwoActiveBackground: $secondaryNavActiveBackground;
$secondaryNavLvlTwoColor: $secondaryNavColor;
$secondaryNavLvlTwoHoverColor: $secondaryNavHoverColor;
$secondaryNavLvlTwoActiveColor: $secondaryNavActiveColor;
$secondaryNavLvlTwoFont: $secondaryNavFont;
$secondaryNavLvlTwoBorder:$secondaryNavBorder;

$secondaryNavLvlThreeItemHeight: $secondaryNavLvlTwoItemHeight;
$secondaryNavLvlThreeItemPadding: 2px 10px 2px 35px;
$secondaryNavLvlThreeBackgound: $secondaryNavLvlTwoBackgound;
$secondaryNavLvlThreeHoverBackground: $secondaryNavLvlTwoHoverBackground;
$secondaryNavLvlThreeActiveBackground: $secondaryNavLvlTwoActiveBackground;
$secondaryNavLvlThreeColor: $secondaryNavLvlTwoColor;
$secondaryNavLvlThreeHoverColor: $secondaryNavLvlTwoHoverColor;
$secondaryNavLvlThreeActiveColor: $secondaryNavLvlTwoActiveColor;
$secondaryNavLvlThreeFont: $secondaryNavLvlTwoFont;
$secondaryNavLvlThreeBorder: $secondaryNavLvlTwoBorder;

//Toggler arrows if present
$secondaryNavToggleBackground: url('../images/bg_resp-nav-down-w.png') 10px center no-repeat #000;
$secondaryNavToggleHoverBackground: $respNavToggleBackground;
$secondaryNavToggleActiveBackground: $respNavToggleHoverBackground;
$secondaryNavToggleWidth: 20px;
$secondaryNavToggleTop: 0;
$secondaryNavToggleRight: 10px;

//Actual menu code below is FRAGILE!  Edit with caution.
//90% of styling can be done above this line

#block-menu-block-1{  //should be changed to match nav ID
  min-height: $secondaryMenuHeight;
  margin: $secondaryMenuMargin;
  padding: $secondaryMenuPadding;
  background: $secondaryMenuBackground;
}

.menu-name-menu-secondary-menu{
  @extend .vertical-block; //Make vertical and blocky
  ul.menu{
    li{
        min-height: $secondaryNavItemHeight;
        font: $secondaryNavFont;
        @include background($secondaryNavBackgound);
        a, span{
           padding: $secondaryNavItemPadding;
           color: $secondaryNavColor;
           border-bottom:$secondaryNavBorder;
        }
        &:hover{
          color: $secondaryNavHoverColor;
          @include background($secondaryNavHoverBackground);
          a, span{
            color: $secondaryNavHoverColor;
          }
        }

        &.first{}
        &.last{}
        &.activated, &.activated:hover{
           color: $secondaryNavActiveColor;
          @include background($secondaryNavActiveBackground);
          a, span{
            color: $secondaryNavActiveColor;
          }
        }

    }
  }

  //SECOND LEVEL
  ul.menu li ul,
  ul.menu li.activated ul,
  ul.menu li:hover ul,
  ul.menu li.activated:hover ul{
    display:none;
    li{
        min-height: $secondaryNavLvlTwoItemHeight;
        font: $secondaryNavLvlTwoFont;
        @include background($secondaryNavLvlTwoBackgound);
         a, span{
           padding: $secondaryNavLvlTwoItemPadding;
           border-bottom:$secondaryNavLvlTwoBorder;
           color: $secondaryNavLvlTwoColor;

        }
        &:hover{
          color: $secondaryNavHoverColor;
          @include background($secondaryNavLvlTwoHoverBackground);
          a, span{
            color: $secondaryNavLvlTwoHoverColor;
          }
        }

        &.first{}
        &.last{}
        &.activated, &.activated:hover{
           color: $secondaryNavLvlTwoActiveColor;
          @include background($secondaryNavLvlTwoActiveBackground);
          a, span{
            color: $secondaryNavLvlTwoActiveColor;
          }
        }
    }

    span.toggle{
      height:$secondaryNavLvlTwoItemHeight;
      line-height:$secondaryNavLvlTwoItemHeight;
    }

  }

  //THIRD LEVEL
    //Plain first level
    ul.menu li ul li ul,
    ul.menu li ul li:hover ul,
    ul.menu li ul li.activated ul,
    ul.menu li ul li.activated:hover ul,
    //Active first level
    ul.menu li.activated ul li ul,
    ul.menu li.activated ul li.activated ul,
    ul.menu li.activated ul li:hover ul,
    ul.menu li.activated ul li.activated:hover ul,
    //Hover first level
    ul.menu li:hover ul li ul,
    ul.menu li:hover ul li.activated ul,
    ul.menu li:hover ul li:hover ul,
    ul.menu li:hover ul li.activated:hover ul,
   //Active:hover first level
    ul.menu li.activated:hover ul li ul,
    ul.menu li.activated:hover ul li.activated ul,
    ul.menu li.activated:hover ul li:hover ul,
    ul.menu li.activated:hover ul li.activated:hover ul {
    display:none;
    li{
        min-height: $secondaryNavLvlThreeItemHeight;
        font: $secondaryNavLvlThreeFont;
        @include background($secondaryNavLvlThreeBackgound);
         a, span{
           padding: $secondaryNavLvlThreeItemPadding;
           border-bottom:$secondaryNavLvlThreeBorder;
           color: $secondaryNavLvlThreeColor;

        }
        &:hover{
          color: $secondaryNavHoverColor;
          @include background($secondaryNavLvlThreeHoverBackground);
          a, span{
            color: $secondaryNavLvlThreeHoverColor;
          }
        }

        &.first{}
        &.last{}
        &.activated, &.activated:hover{
           color: $secondaryNavLvlThreeActiveColor;
          @include background($secondaryNavLvlThreeActiveBackground);
          a, span{
            color: $secondaryNavLvlThreeActiveColor;
          }
        }
    }
  }


  span.toggle{
    width:$secondaryNavItemHeight;
    box-shadow:none;
    height:$secondaryNavItemHeight;
    line-height:$secondaryNavItemHeight;
    padding:0;
    position:absolute;
    top:$secondaryNavToggleTop;
    right:$secondaryNavToggleRight;
    display:inline-block;
    overflow:hidden;
    text-indent:100%;
    cursor:pointer;
    border:none!important;
    @include background($secondaryNavToggleBackground);
    &:hover{
       @include background($secondaryNavToggleHoverBackground);
    }
    &.active{
       @include background($secondaryNavToggleActiveBackground);
    }
  }

}
