//Banner block specific styles

$bannerHeight : 300px !default;
$bannerMargin : 0 !default;
$bannerPadding: 0 !default;
$bannerBackground: $black;

#block-views-slide-rotator-block{
  height: $bannerHeight;
  margin: $bannerMargin;
  padding: $bannerPadding;
  background: $bannerBackground;
  clear:both;
  position:relative;
  .block__content{
     width:auto;
     height: $bannerHeight;
  }
}
