//Static block styles

//Whenver you create a new static block it should get a new partial here


//Default block variables are defaults used throughout the theme and can be found in vars.scss


.block{
  background:$blockBackground;
  margin: $blockMargin;

  &.block--menu{
     background:$menuBlockBackground;
     padding: $menuBlockPadding;
     margin: $menuBlockMargin;
     clear:both;
  }
}
