//Static footer copyright/disclaimer block

.footer-copy{
    clear:both;
    @include breakpoint($tab){
        @include span(last 6 of 9);
    }
    @include breakpoint($desk){
        @include span(6 of 12);
        @include push(3 of 12);
    }
}

